html {
display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  margin: 50px;
  
}

#filter-buttons {
    background-color:rgb(158, 158, 158);
  padding:20px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
    align-items: center;
  border: 1px solid rgb(207, 38, 204);

}

button:hover {
    background-color: rgb(47, 67, 67);
    color: rgb(252, 252, 252);


}
#add {
margin:20px;
}

.back4buttons {
    background-color: rgb(32, 32, 32);
    padding: 30px;
}